venv
.idea
build/
dist/
helpful_things/
examples_in_progress/
docs_notebooks/
tests/
examples/
/src/langtorch/main.py'
__pycache__/
LangTorch.egg-info/
/stuff/
/src/langtorch/main.py
/src/langtorch/main2.py
/src/langtorch/test.yaml
/src/langtorch/main.py
src/langtorch/tt/modules/to_tt/retriever.py
src/langtorch/test.pt
/evaluation/
/src/langtorch/torchlogs/
